*{
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("three.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  */
    /* box-sizing: border-box; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("two.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}


h1{
    font-size: 55px;
    color: white;
    text-align: center;
    text-shadow: 1px rgb(0, 0, 0);
    text-decoration: underline;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */    
}

h2{
    font-size: 42px;
}
h4{
    font-size: 37px; 
}

#particles-js{
    font-size: 21;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("two.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 100vh;

    
}

#first_page{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(15%, -62%);
    text-align: center;
    /* color: white; */
}

#contents{
    position: relative;
    top: 1cm;
    /* text-align: center; */

}
#table{
    position: relative;
    top: 1cm;
    font-size: 28px;
}

caption{
    font-size: 42px;
    color: whitesmoke;
    
}
table{
    position: relative;
    top: 1cm;
    font-size: 28px;
}

table,th,td{
    border: 1px solid rgb(100, 85, 85);
    text-align: center;
}

thead{
    color: wheat;
    column-width: auto;
}

.playlist{
    text-align: center;
    font-size: 23px;
    color: whitesmoke;
}

a{
    color: rgb(241, 239, 239);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
  }